# Sanity
NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=production
SANITY_API_TOKEN=

# Keap
NEXT_PUBLIC_KEAP_APP_ID=btw525
NEXT_PUBLIC_KEAP_FORM_SLUG=7720576008292403
NEXT_PUBLIC_KEAP_ENDPOINT=https://forms.keap.app/lib/public-form-embed.js

# Spacebring
NEXT_PUBLIC_SPACEBRING_ORG_ID=8245e082-00fe-4287-b0f3-28767d6bbb50
NEXT_PUBLIC_SPACEBRING_BASE_URL=https://hintonworkspace.spacebring.com/suite/organizations

# Outscraper
OUTSCRAPER_API_KEY=

# Analytics
NEXT_PUBLIC_GA_ID=
